<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.dlyt.yanndroid.freshapp">


    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission
        android:name="android.permission.REBOOT"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.RECOVERY"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.ACCESS_CACHE_FILESYSTEM"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>



    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="de.dlyt.yanndroid.freshapp.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activities.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AvailableActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.AddonActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.SettingsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/preferences_name"
            android:screenOrientation="portrait"/>




        <receiver
            android:name=".receivers.AppReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="com.ota.update.MANIFEST_CHECK_BACKGROUND"/>
                <action android:name="com.ota.update.START_UPDATE_CHECK"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>